.h1 {
    font-family: LibreBaskerville-Regular, sans-serif;
    font-weight: 800;
    font-size: 28px;
  }
  .h2 {
    font-family: LibreBaskerville-Regular, sans-serif;
    font-weight: 800;
    font-size: 22px;
  }
  .h3 {
    font-family: LibreBaskerville-Regular, sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
  .h4 {
    font-family: LibreBaskerville-Regular, sans-serif;
    font-weight: 500;
    font-size: 14px;
  }